
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: red;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1 {
    font-size: 1.8rem;
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links li a:hover {
    border-bottom: 5px solid black;
    color: aqua;
    font-weight: bolder;
}

.bg-image {
    background-size: cover;
    background-image: url('background.jpg');
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    color: black;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
.theni{
    padding: 75px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 50vh;
}
.places{
    
    padding: 20px;
    text-decoration: dashed;
    box-shadow: 2px black;
    justify-content: center;
    flex: column;
    align-items: center;
    display: flex;
}
.place-2{
    background-color: beige;
}
.h1{
    margin: 5px;
}
.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1,p{
    margin-left: 50px;

}
.About {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: auto;

}

.contact {
    padding: 20px;
    background-color: #8a9216;
    border-radius: 2px;
    margin: auto;
    align-items: center;
    text-align: center;
}
.icon_container {
  display: flex;
  gap: 15px;
  font-size: 32px;
}
.footer {
    background-color: #070606;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}